body {font-family: serif; width:1120px; background-color:white; color:black; font-size: 16px;}

h1 {color:white;  width:200px;  font:"Helvetica Neue"; 
    
}

h2 {color:white;  width:320px;  font:"Helvetica Neue"; text-align: center;
    
    color: white; float: left,top; background-color: #3A3B3B; border-radius: 5px;
}

div {font:"Helvetica Neue";}

.container {
    float: top, left;
    margin-left: 330px;
}

div.frame {background-color:#505050;}

h3 {width:420px; font:"Helvetica Neue";}

.narrow {width: 420px; float: right;}

p {width:500px; font:"Comic Sans MS";}

p.narrow {float: right;}

p.ital {font-style: italic; width:200px; background-color: #669999;}

p.strong {font-style: bold; width:280px;}

a {color:white;}

strong.narrow {}

table {width: 200px;}

table.table1 {background-color:#505050; width: 200px; align-items:"right"; border: solid; border-width: 2px; border-radius: 10px; 
border-color:white; padding: 3px}

table.table2 { width: 300px; align-items:"left"; margin-top: 3px; float: top}

td { color:#ffffb3;
    text-align: left;
}

td.right {text-align: right;}

th {
    background-color: #669999;
    color: white;
    border-top-right-radius: 4px;
  border-top-left-radius: 4px;
      border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

td.outer {
     border-top: 2px solid black
 }

form {

}
input {
	background-color: #33ff77; color:#464141; border: 2px solid; border-radius: 8px; border-color: #271D1D; 
}

iframe {width: 320px; position: absolute; height: 100%; border: none;}

.button {padding-top:15px; border:10px}
