<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RCV1 Article</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-for-reweighting-app.css') }}">
    <script src="myjs.js"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<!--<h2>Choose article:</h2>-->
<h2> Choose article:</h2>
<iframe src="{{ url_for('display_headlines') }}" ></iframe>

<table class="table1" style="float:right">
{% from "_formhelpers.html" import render_field %}
<tr><th colspan="2">
Legend:<br>
</th></tr>
<tr><td>

'H' : Health <br>
'=' : Neutral (words which could apply to either)<br>
'S' : Science & Technology</br>
'-' : Words which seem irrelevant/generic</br></br>
<em>Use your judgement to change these, as appropriate. </em>
</td></tr>
<tr><td>
<form action="/update-v2" method="post">
<table class="table2">
<th colspan="2"> Why was this article predicted as being about {% for item in items %} {{ item.predicted_labels }}{% endfor %}?
</th>
<tr>
<td>
<table class="table3">
<tr><td>


<div id="myDiv" style="width: 130px; height: 225px;"><!-- Plotly chart will be drawn inside this DIV --></div>

  <script>
    var data = [{
  type: 'bar',
  y: [ {% for key, value in lime_features_for_chart.items() %} ' {{ key }} ', {% endfor %} ],
  x: [ {% for key, value in lime_features_for_chart.items() %} {{ value }}, {% endfor %} ],
  orientation: 'h'
}];

var layout = { showlegend: false, ascending: true, paper_bgcolor: 'rgba(0,0,0,0)',
 margin: {
    l: 100,
    r: 2,
    t: 2,b: 1
  },

   bgcolor: 'rgba(255, 255, 255, 0)',
  plot_bgcolor: 'rgba(255, 255, 255, 0)',
font: {
color: 'white'
}
};

Plotly.newPlot('myDiv', data, layout, {staticPlot: true});
  </script>


  </td></tr>
 </table>
</td>
<td>
<table class="table3">
{% for key, value in lime_features.items() %}
<tr><td class="small">
<input type="radio" name="change_weight_{{ loop.index }}" value="Health {{ key }} LIME">H
<input type="radio" name="change_weight_{{ loop.index }}" value="Neutral {{ key }} LIME" checked>=
  <input type="radio" name="change_weight_{{ loop.index }}" value="Science {{ key }} LIME">S
  <input type="radio" name="change_weight_{{ loop.index }}" value="Irrelavant {{ key }} LIME">-
</td></tr>
{% endfor %} 
</table>
</td></tr> 
</table>




</td> 
</tr>


<tr>
<td>



<table class="table2">
<th colspan="2"> Top 10 words from this topic*</th>
<tr><td>


<table class="table3">
  <tr><td>


  <div id="myDiv2" style="width: 130px; height: 225px;"><!-- Plotly chart will be drawn inside this DIV --></div>

  <script>

    var data = [{
  type: 'bar',
  y: [ {% for key, value in topten_for_chart_article.items() %} ' {{ key }} ', {% endfor %} ],
  x: [ {% for key, value in topten_for_chart_article.items() %} {{ value }}, {% endfor %} ],
  orientation: 'h'
}];

var layout = { showlegend: false, ascending: true, paper_bgcolor: 'rgba(0,0,0,0)',
 margin: {
    l: 100,
    r: 2,
    t: 2,b: 1
  },

   bgcolor: 'rgba(255, 255, 255, 0)',
  plot_bgcolor: 'rgba(255, 255, 255, 0)',
font: {
color: 'white'
}
};
Plotly.newPlot('myDiv2', data, layout, {staticPlot: true});
  </script>


</td></tr>
</table>
</td>




<td>
<table class="table3">
<tr><td>
{% for key, value in top_ten_from_article.items() %}
<tr><td class="small">
<input type="radio" name="change_weight_overall_{{ loop.index }}" value="Health {{ key }} LR_coef"> H
<input type="radio" name="change_weight_overall_{{ loop.index }}" value="Neutral {{ key }} LR_coef" checked>=
  <input type="radio" name="change_weight_overall_{{ loop.index }}" value="Science {{ key }} LR_coef">S
  <input type="radio" name="change_weight_overall_{{ loop.index }}" value="Irrelevant {{ key }} LR_coef">-
</td></tr>
{% endfor %}
</td></tr>
</table>
</td>
</tr>
</table>
</td></tr>



<tr><td colspan="2"></td></tr>
<tr><th colspan="2">Add new words related to {% for item in items %} '{{item.predicted_labels }}' {% endfor %} </th></tr>
<tr><td colspan="2">If you see words in the article, or can think of any others which would better describe the topic {% for item in items %} <strong>'{{item.predicted_labels }}' </strong>than those listed above, enter them here (Multiple words permitted). Choose words which you would expect to see in a reasonably large number of articles about {{ item.predicted_labels }} {% endfor %}. Otherwise, leave this field blank.</td></tr>
<tr><td>

<dl>
 Words: {{ render_field(form.new_instance, cols='30', rows='1') }}
  </dl>
    {% for item in items %}
<div id='button'>
    <input type="hidden" value='{{ form.new_instance }}' name='new_instance'>
    <input type=submit value='Correct' name='update_classifier'>
    <input type=submit value='Incorrect' name='update_classifier'>
    <input type=hidden value='{{ item.predicted_labels }}' name='prediction'>
    <input type=hidden value='{{ item.Text }}' name='uncertain_article'>
    <input type="hidden" value=" {{ item.Headline }} " name="article_headline">
    <input type="hidden" value="{{ articleid }}" name="articleid">
    </form>
    <br>
    <strong>Feedback given: {{ feedback_given }} /20 </strong>
    </td></tr>
<tr><td>Once you have given feedback on 20 articles, simply close the window and your feedback will be saved.</td></tr>
<tr><td><br><strong>*</strong>: These are the top ten words for this topic from all articles which the algorithm has seen so far</td></tr>
</table>

<div class="container">
<h3><strong> {{ item.Headline }}
</strong>
</h3>
<p>
<strong>Predicted topic:  </strong>
{{ item.predicted_labels }}
</p>
<!--
<p>
<strong >Prediction margin:</strong> {{ item.class_proba }}
</p>
-->
<p>
           {{ article }}
    </p>
{% endfor %}

</p>

</div>

  </body>
</html>