<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% for item in items %}
    <p>
 Reuters RCV1 article: </p>
<p><strong> {{ item.Headline }}
</strong>
</p>
<p>
           {{ item.Text }}
    </p>

<p>
<strong>Predicted topic:  </strong>
{{ item.predicted_labels }}
</p>

<p>
<strong>Prediction margin:</strong> {{ item.class_proba }}
</p>
<div id='button'>
	  <form action="/update" method="post">
	    <input type=submit value='Correct' name='update_classifier'>
		<input type=submit value='Incorrect' name='update_classifier'>
		<input type=hidden value='{{ item.predicted_labels }}' name='prediction'>
		<input type=hidden value='{{ item.Text }}' name='uncertain_article'>
	  </form>
</div>
{% endfor %}
  </body>
</html>