<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RCV1 Article</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-for-reweighting-app.css') }}">
    <script src="myjs.js"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<!--<h2>Choose article:</h2>-->
<h2> Choose article:</h2>
<iframe src="{{ url_for('display_headlines') }}" ></iframe>

<table class="table1" style="float:right">
{% from "_formhelpers.html" import render_field %}
<tr><th colspan="2">
 Why was this article predicted as being about {% for item in items %} {{ item.predicted_labels }}{% endfor %}?
 </br>
 Top 10 words from this topic:
</th></tr>
<tr><td>
<form method=post action="/change-weights">
<table class="table2">
<th colspan="2">This article:</th>
<tr>
<td>
<table class="table2">
<tr><td>


<div id="myDiv" style="width: 130px; height: 235px;"><!-- Plotly chart will be drawn inside this DIV --></div>

  <script>
var data = [{
  type: 'bar',
  y: [ {% for key, value in topten_for_chart_article.items() %} ' {{ key }} ', {% endfor %} ],
  x: [ {% for key, value in topten_for_chart_article.items() %} {{ value }}, {% endfor %} ],
  orientation: 'h'
}];

var layout = { showlegend: false, ascending: true, paper_bgcolor: 'rgba(0,0,0,0)',
 margin: {
    l: 80,
    r: 2,
    t: 2,b: 1
  },

   bgcolor: 'rgba(255, 255, 255, 0)',
  plot_bgcolor: 'rgba(255, 255, 255, 0)',
font: {
color: 'white'
}
};

Plotly.newPlot('myDiv', data, layout, {staticPlot: true});
  </script>


  </td></tr>
 </table>
</td>
<td>
<table class="table3">
{% for key, value in top_ten_from_article.items() %}
<tr><td>
<input type="radio" name="change_weight_overall_{{ loop.index }}" value="increase {{ key }}"> <strong>+</strong>
<input type="radio" name="change_weight_overall_{{ loop.index }}" value="ignore {{ key }}" checked><strong>=</strong>
  <input type="radio" name="change_weight_overall_{{ loop.index }}" value="decrease {{ key }}"><strong>-</strong>
</td></tr>
{% endfor %} 
</table>
</td></tr> 
</table>
</td>
<td>
<table class="table2">
<th colspan="2">All articles:</th>
<tr><td>


<table class="table2">
  <tr><td>


  <div id="myDiv2" style="width: 130px; height: 235px;"><!-- Plotly chart will be drawn inside this DIV --></div>

  <script>

    var data = [{
  type: 'bar',
  y: [ {% for key, value in topten_for_chart.items() %} ' {{ key }} ', {% endfor %} ],
  x: [ {% for key, value in topten_for_chart.items() %} {{ value }}, {% endfor %} ],
  orientation: 'h'
}];

var layout = { showlegend: false, ascending: true, paper_bgcolor: 'rgba(0,0,0,0)',
 margin: {
    l: 80,
    r: 2,
    t: 2,b: 1
  },

   bgcolor: 'rgba(255, 255, 255, 0)',
  plot_bgcolor: 'rgba(255, 255, 255, 0)',
font: {
color: 'white'
}
};
Plotly.newPlot('myDiv2', data, layout, {staticPlot: true});
  </script>


</td></tr>
</table>
</td>




<td>
<table class="table3">
<tr><td>
{% for key, value in topten.items() %}
<tr><td>
<input type="radio" name="change_weight_{{ loop.index }}" value="increase {{ key }}"> <strong>+</strong>
<input type="radio" name="change_weight_{{ loop.index }}" value="ignore {{ key }}" checked> <strong>=</strong>
  <input type="radio" name="change_weight_{{ loop.index }}" value="decrease {{ key }}"><strong>-</strong>
</td></tr>
{% endfor %}
</td></tr>
</table>
</td>
</tr>
</table>
</td></tr>


<tr><td>
<input type="submit" value='Change weights' name="weight_updates">
</td></tr>
</form>

<tr><td colspan="2"></td></tr>
<tr><th colspan="2">Optional: Add new words</th></tr>
<tr><td colspan="2">If you can think of any words which would better describe the topic {% for item in items %} <strong>'{{item.predicted_labels }}' </strong>{% endfor %} than those above, enter them here (Multiple words permitted)</td></tr>
<tr><td>
    <form action="/update-v2" method="post">
<dl>
 Words: {{ render_field(form.new_instance, cols='30', rows='1') }}
  </dl>
    {% for item in items %}
<div id='button'>
    <input type="hidden" value='{{ form.new_instance }}' name='new_instance'>
    <input type=submit value='Correct' name='update_classifier'>
    <input type=submit value='Incorrect' name='update_classifier'>
    <input type=hidden value='{{ item.predicted_labels }}' name='prediction'>
    <input type=hidden value='{{ item.Text }}' name='uncertain_article'>
    <input type="hidden" value=" {{ item.Headline }} " name="article_headline">
    <input type="hidden" value="{{ articleid }}" name="articleid">
    </form>
    <br>
    <strong>Feedback given: {{ feedback_given }} /30 </strong>
    </td>
</div>
</tr>
</table>

<div class="container">
<h3><strong> {{ item.Headline }}
</strong>
</h3>
<p>
<strong>Predicted topic:  </strong>
{{ item.predicted_labels }}
</p>
<!--
<p>
<strong >Prediction margin:</strong> {{ item.class_proba }}
</p>
-->
<p>
           {{ article }}
    </p>
{% endfor %}

</div>

  </body>
</html>