<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <table class="table1" style="float:right">
  <tr><th>Defence</th></tr>
  <tr><td><p class="narrow">The first possible class is about....</p> </td></tr>
  <tr><th>Environment</th></tr>
  <tr><td><p class="narrow">The second possible class is about....</p> </td></tr>  
  </table>  

<div>
{% for item in items %}
<h2 class="wide"> {{ item.Headline }}
</h2>
<p>
<strong>Predicted topic:  </strong>
{{ item.predicted_labels }}
</p>

<p>
<strong>Prediction margin:</strong> {{ item.class_proba }}
</p>
<p>
           {{ item.Text }}
    </p>
<div id='button'>
	  <form action="/update" method="post">
	    <input type=submit value='Correct' name='update_classifier'>
		<input type=submit value='Incorrect' name='update_classifier'>
		<input type=hidden value='{{ item.predicted_labels }}' name='prediction'>
		<input type=hidden value='{{ item.Text }}' name='uncertain_article'>
    <input type=hidden value='{{ item.Headline }}' name='article_headline'>
    <input type=hidden value='{{ item.indexID }}' name='articleid'>
	  </form>
</div>
{% endfor %}
</div>

  </body>
</html>