<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RCV1 Article</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-for-reweighting-app.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<!--<h2>Choose article:</h2>-->
<h2> Choose article:</h2>
<iframe src="{{ url_for('display_headlines') }}" ></iframe>
<table class="table1" style="float:right">
{% from "_formhelpers.html" import render_field %}
<tr><th colspan="2">
 Why was this article predicted as being about {% for item in items %} {{ item.predicted_labels }}{% endfor %}?
 </br>
 Top 10 words from this topic:
</th></tr>
<tr><td>
<form method=post action="/change-weights">
<table>
<th>This article:</th>
{% for key, value in top_ten_from_article.items() %}
<tr><td>
  {{ key }}   <input type="radio" name="change_weight_{{ loop.index }}" value="increase {{ key }}"> <strong>+</strong>
  <input type="radio" name="change_weight_{{ loop.index }}" value="decrease {{ key }}"><strong>-</strong>
</td></tr>
{% endfor %}  
</table>
</td>
<td>
<table>
<th>All articles:</th>
{% for key, value in topten.items() %}
<tr><td><label for="weight">{{ key }}</label>
  <input type="radio" name="change_weight {{ key }}" value="increase {{ key }}"><strong>+</strong>
  <input type="radio" name="change_weight {{ key }}" value="decrease {{ key }}"><strong>-</strong>
</td></tr>
{% endfor %}
</table></td>

<tr><td>
<input type="submit" value='Change weights' name="weight_updates">
</td></tr>
</form>

<tr><td colspan="2"></td></tr>
<tr><th colspan="2">Add new words</th></tr>
<tr><td colspan="2">If any would better describe the topic {% for item in items %} <strong>'{{item.predicted_labels }}' </strong>{% endfor %} than those above, enter them here</td></tr>
<tr><td>
<form method=post action="/add_new_instance">
      <dl>
 Words: {{ render_field(form.new_instance, cols='30', rows='1') }}
 
  </dl>
  </td>
  <td>
  {% for item in items %}
    <input type=submit value='Submit feedback' name='submit_new_instance'>
      <input type="hidden" value='{{ form.new_instance }}' name='new_instance'>
    <input type="hidden" value="{{ articleid }}" name="articleid">
        <input type=hidden value='{{ item.predicted_labels }}' name='prediction'>
</form>
</td></tr>
<tr><td>

<div id='button'>
    <form action="/update-v2" method="post">
      <input type=submit value='Correct' name='update_classifier'>
    <input type=submit value='Incorrect' name='update_classifier'>
    <input type=hidden value='{{ item.predicted_labels }}' name='prediction'>
    <input type=hidden value='{{ item.Text }}' name='uncertain_article'>
    <input type="hidden" value=" {{ item.Headline }} " name="article_headline">
    <input type="hidden" value="{{ articleid }}" name="articleid">
    </form>
    </td>
</div>
</tr>
</table>

<div class="container">
<h3><strong> {{ item.Headline }}
</strong>
</h3>
<p>
<strong>Predicted topic:  </strong>
{{ item.predicted_labels }}
</p>

<p>
<strong >Prediction margin:</strong> {{ item.class_proba }}
</p>
<p>
           {{ article }}
    </p>
{% endfor %}
  <div id="myDiv" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>

  <script>

    var data = [{
  type: 'bar',
  x: [ {% for key, value in topten.items() %} {{ value }}, {% endfor %} ],
  y: [ {% for key, value in topten.items() %} ' {{ key }} ', {% endfor %} ],
  orientation: 'h'
}];

var layout = { showlegend: false};

Plotly.newPlot('myDiv', data, layout, {staticPlot: true});


  </script>
</div>



  </body>
</html>