<!DOCTYPE html>
<html>
<head>
	<title>Participant instructions</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style-for-reweighting-app.css') }}">
</head>
<body>
<p>
The algorithm has seen two articles, one about “”, the other not. Your objective here is to ‘teach’ the algorithm what the topic is about, so that it can successfully predict whether new articles are about the topic or not.</p>
<p>
You can do this by means of stating whether you think its predictions are correct or incorrect, and additionally by giving feedback on specific words.
</p>
<p>
Ten words will be highlighted in yellow. These are the 10 words which the system places the most importance on when making its prediction as to whether the article is about this topic or not.</p>
<p>These 10 words will also be displayed in a sidebar which appears on the right hand side of the page. You can increase or decrease the importance of these words, if you think it will help the algorithm to 'learn' the topic.</p>
<p>Additionally, you will be shown the top ten words out of every article which the algorithm has seen - so before you've given any feedback this will be based on the two articles it has already seen.</p>
<p>
If you see another word in the article which you would expect to be strongly associated with the predicted topic which is NOT highlighted in yellow (for example, ‘earthquake’ for the topic ‘Disasters’, or 'goal' for the topic 'Footbal'), then please enter it under ‘Add new words’. It is also possible to do this even if the word does not appear in the text.
</p>
<p>
<form action="/feature-feedback" method="post">
<div id='button'>
<input type="submit" value="Proceed" name="proceed_with_study">
</div>
</form>
</p>

</body>
</html>