<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-for-reweighting-app.css') }}">
    <base target="_parent" />
</head>
<body>
<div class="frame">
<table class="Table2">
{% for item in items %}
<tr><td colspan="2" class="outer">
	<p class="strong"><a href="http://127.0.0.1:5000/article-with-reweighting/{{ item.indexID }} " action="/article-with-reweighting/<articleid>"> {{ item.Headline }} </a></p></td></tr>
	<tr>
 <td> <p class="ital"><strong>Predicted class: </strong>{{ item.predicted_labels }} </p> </td><td><strong> Confidence:</strong> {{ item.class_proba }}</td>

</tr>
{% endfor %}
</table>
</div>


</html>