<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opt-in</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-for-reweighting-app.css') }}">
</head>
<body>

<p>
    <strong>Participant information</strong>
</p>
<p>
    <img src="templates/City-logo.png"/>
</p>
<p>
    <strong>Title of study
    <em>: Active learning versus end-user feedback on features for machine learning systems</em></strong>
</p>
<p>
    We would like to invite you to take part in a research study. Before you decide whether you would like to take part it is important that you understand why
    the research is being done and what it would involve for you. Please contact <a class="email" href="mailto:Sam.Logan@city.ac.uk">Sam.Logan@city.ac.uk</a> if anything is unclear, or if you would like more information.
</p>
<p>
    <strong>What is the purpose of the study? </strong>
</p>
<p>
    This study investigates means of improving the performance of machine learning systems when limited information (i.e. ‘training data’) is available, and the system is reliant on a human to provide more information. By participating in the study, you will be training the system. Two methods of training are compared, and each participant is assigned to one or the other at random. This is investigated in the context of text classification (i.e. attempting to successfully predict the subject of a text document). The aim is to compare the effect that each approach has on improving the accuracy of the model’s predictions. 
</p>
<p>
    Participation will take roughly 15-20 minutes, although this can be exceeded if necessary, or can be shorter if you finish it early.
</p>

<p>
    <strong>Why have I been invited?</strong>
</p>
<p>
    Native English speakers, along with non-native speakers who have a high level of fluency in English, are invited to participate.
</p>

<p>
    <strong>Do I have to take part? </strong>
</p>
<p>
    Participation is voluntary, and you can withdraw at any time without giving a reason. If you are a student, participation will not affect your grades.
</p>
<p>
    <strong>What do I have to do? </strong>
</p>
<p>
    You will be presented with a series of news articles, originally published by Reuters between 1996 and 1997. You will be expected to give feedback on what you think the articles are about, out of a choice of two options. In one version of the study (which half of participants are assigned to, at random), you will additionally be asked which words in the article you think
    best ‘explain’ the topic of the article. More detailed instructions will be provided on the next page, depending on which version of the interface you are assigned to.<strong></strong>
</p>

<p>
    <strong>Expenses and payments</strong>
</p>
<p>
    Unfortunately, no expenses can be claimed by, or payments made to, any participants in the study.
</p>

<p>
    <strong>What are the possible disadvantages and risks of taking part? </strong>
</p>
<p>
    There are no known risks involved.
</p>
<p>
    <strong>What are the possible benefits of taking part?</strong>
</p>
<p>
    There are no direct benefits to participation. By participating in this study, you will be benefitting researchers involved in this area, and you will help
    to increase knowledge about the effects of feedback given by humans on the performance of machine learning systems.
</p>
<p>
    <strong>What will happen when the research study stops? </strong>
    <em></em>
</p>
<p>
    If, for any reason, the study is abandoned or postponed, the collected data will be retained until such time that it can be analysed.
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Will my taking part in the study be kept confidential? </strong>
</p>
<p>
    Yes, it will be kept confidential. No personally identifiable details are recorded.
</p>

<p>
    <strong>What will happen to results of the research study?</strong>
</p>
<p>
    The results of this research study will be used in Sam Logan’s MSc Data Science thesis.
</p>
<table class="table1">
<tr><td>
<form action="/study" method="post">
    To commence the study, please tick here to confirm that you are aged 18 or older:
<input type="checkbox" name="age" value="confirmed">
<div id='button'>
<input type="submit" value="Proceed" name="proceed_with_study">
</div>
</td></tr>
</form>
</table>
</body>
</html>