<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opt-in</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-for-reweighting-app.css') }}">
</head>
<body>

<p>
    <strong>Participant information</strong>
</p>
<p>  
<strong>Title of study: <em> Active learning versus end-user feedback on features for machine learning systems</em>
</strong>
</p>
<p>
This study investigates means of improving the performance of machine learning systems when limited information (i.e. ‘training data’) is available, and the system is reliant on a human to provide more information. Two methods of training are compared, and each participant is assigned to one or the other at random. The aim is to compare the effect that each approach has on improving the accuracy of the model’s predictions. The results of this research study will be used in Sam Logan’s MSc Data Science thesis.
</p><p>
Participation will take roughly 15-20 minutes. Participation is voluntary, and you can withdraw at any time without giving a reason. If you are a student, participation will not affect your grades.
</p><p>
You will be presented with a series of news articles. You will be expected to give feedback on what you think the articles are about, out of a choice of two options. In one version of the system, you will additionally be asked which words in the article you think best ‘explain’ the topic of the article. More detailed instructions will be provided on the next page, depending on which version of the interface you are assigned to.
</p><p>
There are no known risks involved. There are no direct benefits to participation; no incentives or payments are made to any participants in the study. By participating in this study, you will be benefitting researchers involved in this area, and you will help to increase knowledge about the effects of feedback given by humans on the performance of machine learning systems.
</p><p>
Your data will be kept confidential. No personally identifiable details are recorded.
</p><p>
If, for any reason, the study is abandoned or postponed, the collected data will be retained until such time that it can be analysed.
</p><p>
Please contact <a class="email" href="mailto:Sam.Logan@city.ac.uk">Sam.Logan@city.ac.uk</a> if anything is unclear, or if you would like more information.
</p>
<table class="table1">
<tr><td>
<form action="/study" method="post">
    To commence the study, please tick here to confirm that you are aged 18 or older:
<input type="checkbox" name="age" value="confirmed"></br>
<div id='button'>
<input type="submit" value="Proceed" name="proceed_with_study">
</div>
</td></tr>
</form>
</table>
</body>
</html>